body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #121212;
	color: #f2ebd8;
	margin: auto;
}

.cont01 {
  background-color: #2d2920;
  padding: 10px;
	margin: auto;
	width: 85%;
	text-align: center;
}

.button {
  background-color: #2d2920;
  color: #f2ebd8;
  transition-duration: 0.4s;
  padding: 10px;
}

.button:hover {
  background-color: #f2ebd8;
  color: #2d2920;
}

img {
	height: 100px;
	width: auto;
}

div span {
	padding: 10px;
	border: 1px solid #f2ebd8;
}

div {
  width: 2000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  color: #C9AA5D;
}
