<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>privacypolicy</title>
</head>
<body>
  <div class="topnav">
  <a href="{{ url_for('home') }}">Home</a>
  <a href="{{ url_for('privacypolicy') }}">Privacy Policy</a>
  <a class="active" href="{{ url_for('ack') }}">Acknowledgements</a>
  <a href="{{ url_for('homeJ') }}">日本語</a>
</div>
<div class="cont01">
  <h1>Acknowledgements</h1>
  <p>We would like to acknowledge the greatly appreciated guidance provided from both the School of Language & Culture and The Engineering, Computer & Math Sciences Department at the Auckland University of Technology.
Specifically we would like to thank our client, Minh Nguyen who provided us with various resources including a server to deploy our application. 
We would also wish to express our gratitude towards our moderator Edmund Lai who provided direction and guidance throughout the whole process.
The extra assistance provided from Sonja Gallagher was greatly appreciated. Without the support from all of the aforementioned people, this web application would not have been created.</p>
</div>
</body>
</html>
