<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>privacypolicy</title>
</head>
<body>
  <div class="topnav">
  <a href="{{ url_for('homeJ') }}">ホーム</a>
  <a href="{{ url_for('sampleJ') }}">サンプル画像</a>
  <a href="{{ url_for('privacypolicyJ') }}">個人情報保護方針</a>
  <a class="active" href="{{ url_for('ackJ') }}">確認</a>
  <a href="{{ url_for('home') }}">English</a>
</div>
<div class="cont01">
  <h1>確認</h1>
  <p>オークランド工科(こうか)大学(だいがく)の言語(げんご)文化(ぶんか)学部(がくぶ)と工学(こうがく)、コンピューター、数学科(すうがくか)学部(がくぶ)の両方(りょうほう)から提供(ていきょう)された非常(ひじょう)に有難い（ありがたい）ガイダンスに感謝(かんしゃ)いたします。
特に(とくに)、アプリケーションを展開(てんかい)するためのサーバーなど、さまざまな情報(じょうほう)を提供(ていきょう)してくださったクライアントのMinh Nguyenさんに感謝(かんしゃ)いたします。
また、プロセス全体(ぜんたい)を通(つ)じて指示(しじ)とガイダンスを提供(ていきょう)してくださったモデレーターのEdmund Laiさんにも感謝(かんしゃ)の意(い)を表(ひょう)します。
さらに、Sonja Gallagherさんから提供(ていきょう)していただいた追加(ついか)の支援(しえん)も非常(ひじょう)に有難く(ありがたく)存じ(ぞんじ)ております。
以上のすべての方々(かたがた)のサポートがなければ、このウェブアプリケーションは作成(さくせい)されませんでした。
皆さんがこのウェブアプリケーションを楽しめることをお願います。
</p>
</div>
</body>
</html>
