<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>privacypolicy</title>
</head>
<body>
  <div class="topnav">
  <a href="{{ url_for('homeJ') }}">ホーム</a>
  <a href="{{ url_for('sampleJ') }}">サンプル画像</a>
  <a href="{{ url_for('privacypolicyJ') }}">個人情報保護方針</a>
  <a class="active" href="{{ url_for('ackJ') }}">謝辞</a>
  <a href="{{ url_for('home') }}">English</a>
</div>
<div class="cont01">
  <h1><ruby>謝辞<rt>しゃじ</rt></ruby></h1>
  <p>オークランド<ruby>工科<rt>こうか</rt></ruby><ruby>大学<rt>だいがく</rt></ruby>の<ruby>言語<rt>げんご</rt></ruby><ruby>文化<rt>ぶんか</rt></ruby><ruby>学部<rt>がくぶ</rt></ruby>と<ruby>工学<rt>こうがく</rt></ruby>、コンピューター、<ruby>数学科<rt>すうがくか

  </rt></ruby><ruby>学部<rt>がくぶ</rt></ruby>の<ruby>両方<rt>りょうほう</rt></ruby>から<ruby>提供<rt>ていきょう</rt></ruby>された<ruby>非常<rt>ひじょう</rt></ruby>に<ruby>有難<rt>ありがた</rt></ruby>いガイダンスに<ruby>感謝<rt>かんしゃ</rt></ruby>いたします。

  <ruby>特<rt>とく</rt></ruby>に、アプリケーションを<ruby>展開<rt>てんかい</rt></ruby>するためのサーバーなど、さまざまな<ruby>情報<rt>じょうほう</rt></ruby>を<ruby>提供<rt>ていきょう</rt></ruby>してくださったクライアントのMinh Nguyenさんに<ruby>感謝<rt>かんしゃ</rt></ruby>いたします。

  また、プロセス<ruby>全体<rt>ぜんたい</rt></ruby>を<ruby>通<rt>つ</rt></ruby>じて<ruby>指示<rt>しじ</rt></ruby>とガイダンスを<ruby>提供<rt>ていきょう</rt></ruby>してくださったモデレーターのEdmund Laiさんにも<ruby>感謝<rt>かんしゃ</rt></ruby>の<ruby>意<rt>い</rt></ruby>を<ruby>表<rt>ひょう</rt></ruby>します。

  さらに、Sonja Gallagherさんから<ruby>提供<rt>ていきょう</rt></ruby>していただいた<ruby>追加<rt>ついか</rt></ruby>の<ruby>支援<rt>しえん</rt></ruby>も<ruby>非常<rt>ひじょう</rt></ruby>に<ruby>有難く<rt>ありがたく</rt></ruby><ruby>存<rt>ぞん</rt></ruby>じております。

  <ruby>以上<rt>いじょう</rt></ruby>のすべての<ruby>方々<rt>かたがた</rt></ruby>のサポートがなければ、このウェブアプリケーションは<ruby>作成<rt>さくせい</rt></ruby>されませんでした。

  <ruby>皆<rt>みな</rt></ruby>さんがこのウェブアプリケーションを<ruby>楽<rt>たの</rt></ruby>しめることをお<ruby>願<rt>ねが</rt></ruby>います。
</p>
</div>
</body>
</html>
