<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>home</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <div class="topnav">
  <a class="active" href="{{ url_for('homeJ') }}">ホーム</a>
  <a href="{{ url_for('sampleJ') }}">サンプル<ruby>画像<rt>がぞう</rt></ruby></a>
  <a href="{{ url_for('privacypolicyJ') }}">プライバシーポリシーの<ruby>利用規約<rt>りようきやく</rt></ruby></a>
  <a href="{{ url_for('ackJ') }}"><ruby>謝辞<rt>しゃじ</rt></ruby></a>
  <a href="{{ url_for('home') }}">English</a>
</div>

<div class="cont01">
  <h1>アニメアーク</h1>
  <div class="cont02">
  <p>これはオークランド<ruby>工科大学<rt>こうかだいがく</rt></ruby>の<ruby>研究<rt>けんきゅう</rt></ruby>・<ruby>開発<rt>かいはつ</rt></ruby>プロジェクトです。</p>
  <p>これはある<ruby>画像<rt>がぞう</rt></ruby>をアニメのスタイル、<ruby>特<rt>とく</rt></ruby>に<ruby>宮崎駿<rt>みやざきはやお</rt></ruby>のスタイルに<ruby>編集<rt>へんしゅう</rt></ruby>するフィルターを<ruby>使用<rt>しよう</rt></ruby>しているウェブアプリケーションです。<ruby>人<rt>ひと</rt></ruby>をアニメのキャラクターの
    <ruby>代<rt>か</rt></ruby>わりにいれて、<ruby>画像<rt>がぞう</rt></ruby>に<ruby>日本語<rt>にほんご</rt></ruby>の<ruby>説明文<rt>せつめいぶん</rt></ruby>を<ruby>付<rt>つ</rt></ruby>け<ruby>加<rt>くわ</rt></ruby>えます。</p>
  <p>さらに、アプリケーションは<ruby>日本語<rt>にほんご</rt></ruby>にも<ruby>対応<rt>たいおう</rt></ruby>しており、それはメニューバーのトップにあります。</p>
  <h2><ruby>何<rt>なに</rt></ruby>ができるのか？</h2>
  <img class="myImages" id="myImg" src="..\static\sample_photos\ORIGINAL.jpg" alt="原画">
  <img class="myImages" id="myImg" src="..\static\sample_photos\ANIMEARC_DRAWN.jpg" alt="アニメアーク">
  <h2><ruby>詳細<rt>しょうさい</rt></ruby></h2>

  <p><ruby>人<rt>ひと</rt></ruby>を<ruby>消<rt>けす</rt></ruby>す<ruby>機能<rt>きのう</rt></ruby>: <ruby>人<rt>ひと</rt></ruby>を<ruby>消<rt>けす</rt></ruby>す<ruby>機能<rt>きのう</rt></ruby>は、Sujay Khandekarによる<ruby>熟練<rt>じゅくれん</rt></ruby>した <a href="https://github.com/sujaykhandekar/Automated-objects-removal-inpainter" target="_blank">エッジ<ruby>検出<rt>けんしゅつ</rt></ruby>モデル</a>によって<ruby>作<rt>つく</rt></ruby>られています。
    </br>
    </br>
    <ruby>人<rt>ひと</rt></ruby>を<ruby>入<rt>い</rt></ruby>れ<ruby>替<rt>か</rt></ruby>える<ruby>機能<rt>きのう</rt></ruby>: <ruby>人<rt>ひと</rt></ruby>を<ruby>入<rt>い</rt></ruby>れ<ruby>替<rt>か</rt></ruby>える
    <ruby>機能<rt>きのう</rt></ruby>は、<ruby>人<rt>ひと</rt></ruby>を<ruby>消<rt>けす</rt></ruby>す<ruby>前<rt>まえ</rt></ruby>に<ruby>画像<rt>がぞう</rt></ruby>の<ruby>人<rt>ひと</rt></ruby>の<ruby>位置<rt>いち</rt></ruby>を<ruby>確認<rt>かくにん</rt></ruby>するために、<a href="https://github.com/facebookresearch/detectron2" target="_blank">フェイスブックの<ruby>検出技術<rt>けんしゅつぎじゅつ</rt></ruby></a> を<ruby>使<rt>つか</rt></ruby>っています。
    </br>
    </br>
    アニメフィルター<ruby>機能<rt>きのう</rt></ruby>: アニメフィルター<ruby>機能<rt>きのう</rt></ruby>は、Tachibana Yoshino の<a href="https://github.com/TachibanaYoshino/AnimeGANv2" target="_blank">AnimeGANv2</a>から<ruby>提供<rt>ていきょう</rt></ruby>されている<ruby>宮崎駿<rt>みやざきはやお</rt></ruby>モデルから<ruby>引用<rt>いんよう</rt></ruby>しています。
    </br>
    </br>
    <ruby>日本語<rt>にほんご</rt></ruby>の<ruby>説明文<rt>せつめいぶん</rt></ruby><ruby>機能<rt>きのう</rt></ruby>: <ruby>日本語<rt>にほんご</rt></ruby>の<ruby>説明文<rt>せつめいぶん</rt></ruby><ruby>機能<rt>きのう</rt></ruby>は、もともとはHugh Kuの<a href="https://github.com/hughKu/Im2txt" target="_blank">Im2txtモデル</a>を<ruby>通<rt>と</rt></ruby>して<ruby>画像<rt>がぞう</rt></ruby>に<ruby>英語<rt>えいご</rt></ruby>で<ruby>表示<rt>ひょうじ</rt></ruby>されていました。<ruby>英語<rt>えいご</rt></ruby>が<ruby>画像<rt>がぞう</rt></ruby>から<ruby>見<rt>み</rt></ruby>つけられたらすぐに、Google translateのAPIを<ruby>経由<rt>けいゆ</rt></ruby>して<ruby>翻訳<rt>ほんゃく</rt></ruby>され、<ruby>画面<rt>がめん</rt></ruby>に<ruby>表示<rt>ひょうじ</rt></ruby>されます。</p>

    <p><ruby>皆<rt>みな</rt></ruby>さんがこのアプリケーションを<ruby>楽<rt>たの</rt></ruby>しめますように！</p>
</div>
  <form action="/handleUpload" method="post" enctype="multipart/form-data" onsubmit="loading()">
    <span>
      ファイルを<ruby>選<rt>えら</rt></ruby>んでください: <input type="file" accept="image/*" onchange= "loadFile(event)" name="photo" id="file"/>
    </span><br/><br/>
    <img class="imageDisplay" id="output"><br/>
    <input class="button" type="submit" value="アップロード" id="uploadButton" disabled/>
  </form><br/>

  <div class="lds-ellipsis" id="load" style="display:none"><div></div><div></div><div></div><div></div></div>

  <img id="displayImg" class="imageDisplay" src="{{ user_image }}" onerror="this.style.display='none'">

  <p id='explanations' style='display: none'><ruby>{{ renderTextE }}<rt>{{ renderTextEF }}</rt></ruby> {{ renderText }}<br/>
    <ruby>{{ renderTextJ }}<rt>{{ renderTextJF }}</rt></ruby> {{ renderText2 }}<br/>
    <ruby>{{ renderTextEX }}<rt>{{ renderTextEXF }}</rt></ruby> {{ renderText3 }}</p><br/>

  <button class="button" type='button' onclick="toggleText()"><ruby>説明<rt>せつめい</rt></ruby></button>

  <form action="/get-image" method="post">
    <input class="button" type="submit" value="ダウンロード" id="SRCcheck" disabled>
  </form>
  
  <form action="/get-refresh" method="post" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
    <input class="button" type="submit" value="リセット"/>
  </form>
</div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
</body>

<script>
function checkSRC(){
  var elem = document.getElementById('displayImg');
  var src = document.getElementById("SRCcheck");

  if(elem.getAttribute('src') == "")
  {
  src.disabled = true;
  }
  else
  {
  src.disabled = false;
  }
}
window.onload = checkSRC;
</script>

<script>
function loading() {
  var load = document.getElementById("load");
  if (load.style.display === "none") {
    load.style.display = "block";
  } else {
    load.style.display = "none";
  }
}
</script>

<script>
function toggleText() {
  var text = document.getElementById("explanations");
  if (text.style.display === "none") {
    text.style.display = "block";
  } else {
    text.style.display = "none";
  }
}
</script>

<script>
// create references to the modal...
var modal = document.getElementById('myModal');
// to all images -- note I'm using a class!
var images = document.getElementsByClassName('myImages');
// the image in the modal
var modalImg = document.getElementById("img01");
// and the caption in the modal
var captionText = document.getElementById("caption");

// Go through all of the images with our custom class
for (var i = 0; i < images.length; i++) {
  var img = images[i];
  // and attach our click listener for this image.
  img.onclick = function(evt) {
    console.log(evt);
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }
}

var span = document.getElementsByClassName("close")[0];

span.onclick = function() {
  modal.style.display = "none";
}
</script>

<script>
var loadFile = function(event) {
  var output = document.getElementById('output');
  output.src = URL.createObjectURL(event.target.files[0]);
  output.onload = function() {
    URL.revokeObjectURL(output.src)
  }
};
</script>
<script>
  $(document).ready(
    function(){
        $('input:file').change(
            function(){
                if ($(this).val()) {
                    $('#uploadButton').attr('disabled',false);
                }
            }
            );
    });
</script>
</html>
