<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>home</title>
</head>
<body>
  <div class="topnav">
  <a class="active" href="{{ url_for('homeJ') }}">ホーム</a>
  <a href="{{ url_for('privacypolicyJ') }}">個人情報保護方針</a>
  <a href="{{ url_for('ackJ') }}">確認</a>
  <a href="{{ url_for('home') }}">English</a>
</div>
  <div class="cont01">
    <h1>アニメアーク</h1>
          <p>このアプリケーションは。。。</p>
            <form action="/handleUpload" method="post" enctype="multipart/form-data">
            <span>
             ファイルを選んでください: <input type="file" accept="image/*" onchange= "loadFile(event)" name="photo" id="file">
             </span><br/><br/>
          <img id="output"><br/>
            <input class="button" type="submit" value="アップロード">
            </form>
            <form action="/get-image" method="get"><br/>
            <input class="button" type="submit" value="ダウンロード">
            </form>
        </div>
      </body>

      <script>
      var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
          URL.revokeObjectURL(output.src)
        }
      };
    </script>

    </html>
