<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>home</title>
</head>
<body>
  <div class="topnav">
  <a class="active" href="{{ url_for('home') }}">Home</a>
  <a href="{{ url_for('privacypolicy') }}">Privacy Policy</a>
  <a href="{{ url_for('ack') }}">Acknowledgements</a>
  <a href="{{ url_for('homeJ') }}">日本語</a>
</div>

<div class="cont01">
  <h1>Anime Arc</h1>
  <p>This is a web application that allows you to convert photographs into anime. Here are some changes that were done in the current branch lol.</p>
  <form action="/handleUpload" method="post" enctype="multipart/form-data">
    <span>
      Choose the file: <input type="file" accept="image/*" onchange= "loadFile(event)" name="photo" id="file">
    </span><br/><br/>
    <img id="output"><br/>
    <input class="button" type="submit" value="Upload">
  </form>
  <img src="{{ user_image }}">
  <form action="/get-image" method="post"><br/>
    <input class="button" type="submit" value="Download">
  </form>
</div>
</body>

<script>
var loadFile = function(event) {
  var output = document.getElementById('output');
  output.src = URL.createObjectURL(event.target.files[0]);
  output.onload = function() {
    URL.revokeObjectURL(output.src)
  }
};
</script>

</html>
