<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>privacypolicy</title>
</head>
<body>
  <div class="topnav">
  <a href="{{ url_for('homeJ') }}">ホーム</a>
  <a href="{{ url_for('sampleJ') }}">サンプル画像</a>
  <a  class="active" href="{{ url_for('privacypolicyJ') }}">個人情報保護方針</a>
  <a href="{{ url_for('ackJ') }}">確認</a>
  <a href="{{ url_for('home') }}">English</a>
</div>
  <div class="cont01">
    <h1>プライバシー</h1>
    <p>我々はプライバシーはユーザーの皆様の基本的権利としています。Anime Arcでは、あなたはあなたの写真を匿名で加工できます。皆さんのプライバシーを守ることが私たちの最優先事項です。</p>
    <p>私たちは絶対に画像を保存しません。</p>
    <p>なぜ私たちがユーザーのデータを収集しないのか、それは私たちはユーザーの皆さんからのデータによる用途が何もないからです。したがって、ユーザーのデータを集めることは必要ではないのです。私たちはこのシンプルなフィルターアプリであるプログラムの本質であるため、そのようなことをする理由はありませんし、私たちはそのようなことをする容量も基盤もありません。私たちはウェブアプリによる共有機能は提供されていないため、どのユーザーのデータも要求されたりどこかへ送ったりすることはありません。ユーザーはただ皆さん自身の画像をダウンロードすることだけできます。</p>
    <p>画像の製造過程の全ては、このアプリの任務が終わったあとすぐに消されます。</p>
  </div>
</body>
