<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>privacypolicy</title>
</head>
<body>
  <div class="topnav">
  <a href="{{ url_for('home') }}">Home</a>
  <a href="{{ url_for('sample') }}">Sample</a>
  <a class="active" href="{{ url_for('privacypolicy') }}">Privacy Policy</a>
  <a href="{{ url_for('ack') }}">Acknowledgements</a>
  <a href="{{ url_for('homeJ') }}"><ruby>日本語<rt>にほんご</rt></ruby></a>
</div>
  <div class="cont01">
    <h1>Privacy Policy</h1>
<p>We believe privacy is a fundamental right of our users. With Anime Arc you can process your photos anonymously. Protecting your privacy is our top most priority.</p>
<p>WE DO NOT STORE ANY OF YOUR IMAGES.</p>
<p>Why we do not collect user data: Because we do not have any use for data from the user, therefore it is not necessary to collect any user data. We do not have the justification to do such a thing due to the nature of this program being a simple filter app and we do not have the capacity or infrastructure to do such things. We do not provide a shared functionality for our web-application therefore no user data is required or can be sent anywhere. Users will only be allowed to download their own images.</p>
<p>ALL OF THE PROCESS IMAGES are destroyed the moment the app has finished its job.</p>


        </div>
      </body>
</html>
