<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>privacypolicy</title>
</head>
<body>
  <div class="topnav">
  <a href="{{ url_for('homeJ') }}">ホーム</a>
  <a href="{{ url_for('sampleJ') }}">サンプル<ruby>画像<rt>がぞう</rt></ruby></a>
  <a  class="active" href="{{ url_for('privacypolicyJ') }}">プライバシーポリシーの<ruby>利用規約<rt>りようきやく</rt></ruby></a>
  <a href="{{ url_for('ackJ') }}"><ruby>謝辞<rt>しゃじ</rt></ruby></a>
  <a href="{{ url_for('home') }}">English</a>
</div>
  <div class="cont01">
    <h1>プライバシー</h1>
    <p><ruby>我々<rt>われわれ</rt></ruby>はプライバシーはユーザーの<ruby>皆様<rt>まなさま</rt></ruby>の<ruby>基本的権利<rt>きほんてきけんり</rt></ruby>としています。Anime Arcでは、あなたはあなたの<ruby>写真<rt>しゃしん</rt></ruby>を<ruby>匿名<rt>とくめい</rt></ruby>で<ruby>加工<rt>かこう</rt></ruby>できます。
      <ruby>皆<rt>みな</rt></ruby>さんのプライバシーを<ruby>守<rt>まも</rt></ruby>ることが<ruby>私<rt>っわたし</rt></ruby>たちの<ruby>最優先事項<rt>さいゆうせんじこう</rt></ruby>です。</p>
    <p>私<rt>わたし</rt></ruby>たちは絶対<rt>ぜったい</rt></ruby>に画像<rt>がぞう</rt></ruby>を保存<rt>ほぞん</rt></ruby>しません。</p>
    <p>なぜ<ruby>私<rt>わたし</rt></ruby>たちがユーザーのデータを<ruby>収集<rt>しゅうしゅう</rt></ruby>しないのか、それは<ruby>私<rt>わたし</rt></ruby>たちはユーザーの<ruby>皆<rt>みな</rt></ruby>さんからのデータによる<ruby>用途<rt>ようと</rt></ruby>が<ruby>何<rt>なに</rt></ruby>もないからです。したがって、ユーザーのデータを
      <ruby>集<rt>あつ</rt></ruby>めることは<ruby>必要<rt>ひつよう</rt></ruby>ではないのです。<ruby>私<rt>わたし</rt></ruby>たちはこのシンプルなフィルターアプリであるプログラムの<ruby>本質<rt>ほんしつ</rt></ruby>であるため、そのようなことをする<ruby>理由<rt>れゆう</rt></ruby>はありませんし、<ruby>私<rt>わたし</rt></ruby>たちはそのようなことをする
      <ruby>容量<rt>ようりょう</rt></ruby>も<ruby>基盤<rt>きばん</rt></ruby>もありません。<ruby>私<rt>わたし</rt></ruby>たちはウェブアプリによる<ruby>共有機能<rt>きょうゆうきのう</rt></ruby>は<ruby>提供<rt>ていきょう</rt></ruby>されていないため、
      どのユーザーのデータも<ruby>要求<rt>ようきゅう</rt></ruby>されたりどこかへ<ruby>送<rt>おく</rt></ruby>ったりすることはありません。ユーザーはただ<ruby>皆<rt>みな</rt></ruby>さん<ruby>自身<rt>じしん</rt></ruby>の<ruby>画像<rt>がぞう</rt></ruby>をダウンロードすることだけできます。</p>
    <p><ruby>画像<rt>がぞう</rt></ruby>の<ruby>製造過程<rt>せいぞうかてい</rt></ruby>の<ruby>全<rt>せべ</rt></ruby>ては、このアプリの<ruby>任務<rt>にんむ</rt></ruby>が<ruby>終<rt>お</rt></ruby>わったあとすぐに<ruby>消<rt>け</rt></ruby>されます。</p>
  </div>
</body>
